@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Roboto&display=swap');

body {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(207, 252, 224);
}

li {
	float: left;
}

li a {
	display: block;
	color: #005239;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #6dffd3;
}

.active {
	color: gray;
	background-color: #6dffd3;
}
/* phone or baseline views **************************/
main {
	max-width: 767px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

h1, h2, h3 {
    text-align: center;
}

main section h2 {
	color: #005239;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: rgb(207, 252, 224);
}

main section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}

.link {
	color: #005239;
}

.link:hover {
	color: #9300b8;
}

.colimage {
	box-shadow: 0 0 30px #333;
}

footer {
    text-align: center;
    margin: 0 0 0 50px;
    padding: 20px 0 20px 0;
    max-width: 60em;
    margin: 0 auto;
}

/* Tablet Views ******************************/
/*@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}*/

/* Desktop Views ****************************/
/*@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	main section:nth-child(3) {
		grid-column: span 1;
	}
}*/
